.abc{
  margin-top: 7%;
  margin-left: -13%;
}
.abcd{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.abcd header{
  margin-left: -95%;
  margin-top: 1%;
}
.button {

  display: inline-block;
  background: @primary-color;
  border:none;
  padding: @input-padding @input-padding * 2;
  color: #fff;

  &:hover {
      background: darken(@primary-color, 10%);
  }

  &:focus {
      outline: none;
  }
}